---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Contact from '../components/Contact.astro';
import SkillsSection from '../components/SkillsSection.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { portfolioRepository } from '../data/repositories/portfolioRepository';
import '../assets/styles/main.css';
import '../assets/styles/style.css';

const { siteSettings, aboutMe, socialLinks, skills, projects } = await portfolioRepository.getHomeData();
---


<Layout lang={siteSettings.lang} title={siteSettings.seo_title} description={siteSettings.seo_description}>
	<Navbar navItems={siteSettings.nav_items} />
		<main class="main">
			<Hero aboutMe={aboutMe} socialLinks={socialLinks} />
			<div class="separator"></div>
			<section id="skills">
				<div class="title">
					<img src="images/icons/skills.png" alt="Logo Habilidades">
					<h2>Habilidades</h2>
				</div>
				<SkillsSection categories={skills} />
			</section>
			<div class="separator"></div>
			<section id="projects">
				<div class="title">
					<img src="images/icons/project.png" alt="Logo Proyectos">
					<h2>Proyectos</h2>
				</div>

				<div class="projects-container">
					{projects.map((project) => <ProjectCard project={project} />)}
				</div>
			</section>
			<div class="separator"></div>
			<Contact />
		</main>
		<script>
			import '../assets/scripts/script.js';
		</script>
</Layout>